<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Application</title>
    <link rel="stylesheet" href="./css/index.css" type="text/css">
</head>
<body>
<div class="header">Family Shopping List</div>
<div class="content">
    <button class="button" onclick="addListItem()">Add Item</button>
    <div><u>Product</u></div>
    <ul id="product-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>
<div class="footer"></div>
<script src="./js/app.js" type="application/javascript"></script>
</body>
</html>